@import 'tailwindcss/base';
@import 'tailwindcss/components';
@import 'tailwindcss/utilities';

body {
    font-family: 'Nunito', sans-serif;
}

.drag-handle {
    cursor: move;
}

.border-b {
    border-color: #006aac;
}

.list-group-item:nth-child(even) {
    background: #f3f4f6;
}
